extends ../layout/common

block content
  if errors
    each error in errors
      .alert.alert-danger.w-25= error
  h1.py-2.text-center Profile
  .box.text-muted.text-center
    if user.avatarUrl
      img(src=user.avatarUrl alt="" style=('border-radius:50%; width:48px; height:48px'))
    else
      img(src="/img/default-avatar.png" alt="" style=('border-radius:50%; width:48px; height:48px'))
    p= user.name
    p= user.email

    a.btn.btn-primary(href="profile/avatar") Update